<?xml version="1.0"?>
<testsuites>
    <testsuite name="all">
        <directory>OpenCart</directory>
    </testsuite>
    <testsuite name="unit">
        <directory>OpenCart/Unit</directory>
    </testsuite>
    <testsuite name="integration">
        <directory>OpenCart/Integration</directory>
    </testsuite>
</testsuites>
