/*
 * Largely copied from bootstrap.css legend
 */
.required .radio label.col-form-label::before {
    content: "";
}

.radio input, .checkbox input {
    float: left;
    clear: left;
    width: auto;
    margin-top: calc(0.5385rem + 3px);
}

.radio label, .checkbox label {
    float: left;
    width: auto;
    text-align: left;
    font-weight: normal;
    padding-left: 0.5em;
    padding-bottom: 6px;
}

.fieldset-description {
    margin: 1em 2em;
}

details summary {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
}

summary span {
    display: inline-block;
    font-size: smaller;
    padding-left: 1em;
}

/*
 * Register form
 */
/* Align text with logo */
#intro {
    position: relative;
    top: 12px;
}

/* make remarks textarea a bit wider */
#notes {
    width: 80%;
}

/*
 * Acumulus invoice status overview "form".
 */
.nav > li > a[href="#tab-acumulus-invoice"] {
    background-image: url("../../image/acumulus/siel-logo.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 34px;
}

/* Refund overview title */
#tab-acumulus-invoice summary {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 6px;
}

/* Refund overview */
#tab-acumulus-invoice details {
    font-size: 13px;
    border: none;
}

/*#tab-acumulus-invoice .invoice-sent-concept {*/
/*    float: left;*/
/*    width: 85%;*/
/*}*/

#tab-acumulus-invoice label + .offset-sm-2 {
    margin-left: 0;
    padding-top: calc(0.5385rem + 1px);
    padding-bottom: calc(0.5385rem + 1px);
}

/*[class*="acumulus-document"] {*/
/*    display: inline-block;*/
/*}*/

#tab-acumulus-invoice [class*="acumulus-document"] {
    padding-left: 34px;
    margin-right: 1em;
    background-size: 21px 28px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 6px;
    min-width: 10.5em;
    height: 36px;
}

#tab-acumulus-invoice a[class*="acumulus-document"] {
    display: inline-block;
    padding-top: 8px;
}

#tab-acumulus-invoice [class*="acumulus-document-invoice"] {
    background-image: url("../../image/acumulus/acumulus-invoice.png");
}

#tab-acumulus-invoice [class*="acumulus-document-packing-slip"] {
    background-image: url("../../image/acumulus/acumulus-packing-slip.png");
}

#tab-acumulus-invoice .row.mb-3:not(:nth-child(1)) {
    padding-top: 1rem;
}

#tab-acumulus-invoice .acumulus-links + .col-sm-10 {
    margin-left: 16.666667%;
}

#tab-acumulus-invoice fieldset > .row.mb-3:nth-child(5):before {
    border-bottom-width: 0;
}

#tab-acumulus-invoice fieldset > .row.mb-3:nth-child(5) {
    padding-top: 0;
}

#tab-acumulus-invoice fieldset > .row.mb-3:last-child {
    border-top: 1px solid #ededed;
}

#tab-acumulus-invoice .acumulus-links ~ .col-sm-10 {
    width: auto;
    padding-right: 0;
}

#tab-acumulus-invoice .acumulus-links + .col-sm-10 + .col-sm-10 {
    padding-left: 0;
}

#tab-acumulus-invoice .notice {
    box-shadow: none;
    margin: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

#tab-acumulus-invoice .notice-info {
    color: #00a0d2;
}

#tab-acumulus-invoice .notice-warning {
    color: #ffb900;
}

#tab-acumulus-invoice label.notice-warning {
    font-weight: 900;
}

#tab-acumulus-invoice .notice-error {
    color: #bc3232;
}

#tab-acumulus-invoice .notice-success {
    color: #46b450;
}

.acumulus-amount .amount {
    display: block;
    width: 6em;
    text-align: right;
}

.acumulus-amount .amount:nth-child(2) {
    display: inline-block;
}

.acumulus-amount .amount:last-child {
    border-top: 1px solid #444;
}

.acumulus-amount .amount .sign,
.acumulus-amount .amount .currency {
    float: left;
    width: 0.25em;
}

/*
 * About block
 */
.acumulus-blue {
    color: #01a6d4;
}

.acumulus-light-green {
    color: #f0fff0;
}

.button-pro-support {
    display: inline-block;
    transition: background-color 0.5s ease;
    background-color: #f0fff0;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 6px 20px;
    margin-top: 5px;
}

.button-pro-support:hover {
    background: #01a6d4;
}

/*
 * EU Commerce threshold progress bar
 */
.acumulus-progressbar, .acumulus-progress, .acumulus-threshold {
    display: inline-block;
}

.acumulus-progressbar {
    box-sizing: border-box;
    position: relative;
    width: 75%;
    max-width: 20em;
    height: 2em;
    border-radius: 16px;
    background-color: lightgrey;
}

.acumulus-progress {
    box-sizing: border-box;
    padding: 2px 0.5em 0;
    border-radius: inherit;
    height: 100%;
}

.acumulus-error {
    background-color: #bc3232;
    color: white;
}

.acumulus-warning {
    background-color: #ffb900;
}

.acumulus-ok {
    background-color: #46b450;
}

.acumulus-threshold {
    box-sizing: border-box;
    padding-left: 0.3em;
    width: 24%;
    height: 2em;
}
